/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .owl-carousel img {
    width: 297px !important;
    height: 222px !important;
    margin-right: 44.35px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .owl-carousel img {
    width: 297px !important;
    height: 222px !important;
    margin-right: 44.35px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .owl-carousel img {
    width: 550px !important;
    height: 400px !important;
    margin-right: 44.35px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .owl-carousel img {
    width: 550px !important;
    height: 400px !important;
    margin-right: 44.35px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .owl-carousel img {
    width: 550px !important;
    height: 400px !important;
    margin-right: 44.35px;
  }
}

html {
  scroll-behavior: smooth;
}


body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.header-bg {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: #FBD062;
  background-size: 100vh;
  position: relative;
  top: -10vh;
  transform: skewY(-5deg);
}

header {
  position: absolute;
  transform: skewY(5deg);
  top: 10vh;
  width: 100vw;
}

nav {
  width: 100vw;
  background: #FBD062;
  transition: all 0.5s;
}

#logo {
  width: 150px;
  height: 47px;
}

header h1 {
  font-size: 48px;
  line-height: 60px;
  font-weight: bolder;
}

header p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 23px 0;
}

#services .col {
  border-radius: 10px;
  transition: all 0.5s;
}

#services .col:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#works {
  background: #111430;
  padding: 107px 0;
  width: 100vw;
  height: 100vh;
}

.owl-carousel {
  display: block !important;
}

.owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background: #242A65 !important;
  margin: 0 10px;
  border-radius: 50%;
}

.owl-dots {
  text-align: center;
  padding-top: 50px;
}

.owl-dot.active {
  background: #FBD062 !important;
}

#feedback p {
  font-size: 16px !important;
  line-height: 28px;
  font-weight: 400;
}

footer {
  background-color: #FBD062;
  padding-top: 83px;
}

footer h2 {
  font-size: 34px;
  font-weight: 600;
  line-height: 43px;
}

.footer-text {
  font-size: 14px;
  line-height: 24.5px;
  margin-top: 32px;
}

footer input[type="text"] {
  margin: 16px 0;
}

footer .form-control {
  padding: 22px 30px;
}

footer a.btn-dark {
  margin-top: 16px;
}

footer input,
footer textarea {
  border-radius: 4px !important;
}

footer .text-center {
  padding-top: 120px;
  padding-bottom: 50px;
  margin-bottom: 0;
}


/* customer page styles */

#customer-page .active,
#admin-page .active {
  color: #009444;
}

#customer-page a,
#admin-page a {
  text-decoration: none;
  color: black;
  padding-top: 19px;
}

#customer-page h4 {
  padding-left: 8px;
  font-size: 16px;
}

#admin-page h4 {
  font-size: 14px;
  padding-left: 8px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.3) !important;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(97, 97, 97);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(97, 97, 97);
}

#uploadBtn {
  background-color: #DEFFED;
  color: #009444;
  border: 1px solid #009444;
  border-radius: 4px;
}

.form-control:focus {
  box-shadow: 0 0 1px #333;
}


/* Services List Style */
.services .pending {
  background: #FFE3E3;
  ;
  color: #d73c3c;
  border: 0;
}

.services .done {
  background-color: #C6FFE0;
  color: #009444;
  border: 0;
}

.services p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.4px;
}

textarea {
  resize: none;
}

#make-admin {
  height: 40vh;
}